{% extends "layout.html" %}
{% block content %}
    <h1>{{ family.surname }}</h1>
    <article class="media content-section">
    	<div class="media-body">
		    <h3>Members:</h3>
		    {% for individual in individuals %}
		    	<p>
		    		<i class="material-icons" style="font-size:13px;">
		    			<a href="#" data-toggle="modal" data-target="#deleteModal{{ individual.id }}">delete</a>
		    		</i> 
		    		<i class="material-icons" style="font-size:13px;"><a href="{{ url_for('update_member', name=family.nhood.name, family_id=family.id, individual_id=individual.id) }}">border_color</a></i> 
		    		{{ individual.first_name }} ({{ individual.age }})
		    	</p>
				<div class="modal fade" id="deleteModal{{ individual.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
				    <div class="modal-dialog" role="document">
				      	<div class="modal-content">
				        	<div class="modal-header">
				          		<h5 class="modal-title" id="deleteModalLabel">Remove Individual?</h5>
				          		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				            		<span aria-hidden="true">&times;</span>
				          		</button>
				        	</div>
				        	<div class="modal-footer">
				          		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				          		<form action="{{ url_for('delete_member', name=family.nhood.name, family_id=family.id, individual_id=individual.id) }}" method="POST">
				            		<input class="btn btn-danger" type="submit" value="Delete">
				          		</form>
				        	</div>
				      	</div>
				    </div>
			  	</div>
		    {% endfor %}
	    </div>
    </article>
    <article class="media content-section">
		<div class="media-body">
		    <h3>Visits:</h3>
		    {% for visit in visits %}
		    	<p style="text-indent: 40px"><a href="{{ url_for('visit', name=family.nhood.name, family_id=family.id, visit_id=visit.id) }}"> {{ visit.date.strftime("%B %d, %Y") }} </a></p>
		    {% endfor %}
	    </div>
	</article>
    <div>
    	<a class="btn btn-primary btn-sm m-1" href="{{ url_for('add_member', name=family.nhood.name, family_id=family.id) }}">+ Add Member</a>
    </div>
    <div>
    	<a class="btn btn-primary btn-sm m-1" href="{{ url_for('add_visit', name=family.nhood.name, family_id=family.id) }}">+ Add Visit</a>
    </div>
    <div>
    	<a class="btn btn-primary btn-sm m-1" href="{{ url_for('update_family', name=family.nhood.name, family_id=family.id) }}">Edit</a>
    </div>
    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal2">Delete</button>
    <div class="modal fade" id="deleteModal2" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h5 class="modal-title" id="deleteModalLabel">Remove Family?</h5>
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	          </button>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	          <form action="{{ url_for('delete_family', name=family.nhood.name, family_id=family.id) }}" method="POST">
	            <input class="btn btn-danger" type="submit" value="Delete">
	          </form>
	        </div>
	      </div>
	    </div>
  	</div>
{% endblock content %}
{% block sidebar %}
	<div class="col-md-4">
	    <div class="content-section">
	        <h3>Next Steps</h3>
	        <p class='text-muted'>
	          <ul class="list-group">
	          	{% for visit in visits | reverse %}
	          		{% if loop.index <= 5 %}
	          			<li class="list-group-item list-group-item-light">{{ visit.next_steps }}</li>
	          		{% endif %}
	          	{% endfor %}
	          </ul>
	        </p>
	    </div>
	</div>
{% endblock sidebar %}