{% extends "layout.html" %}
{% block content %}
    <div>
      <button class="mb-2" onclick="goBack()"><i class="material-icons mt-1">arrow_back</i></button>
      <script>
        function goBack() {
          window.history.back();
        }
      </script>
    </div>
    <h1>Meeting Log</h1>
    {% for meeting in meetings.items %}
      <article class="media content-section">
        <div class="media-body">
          <h2><a class="article-title" href="{{ url_for('meeting', meeting_id=meeting.id) }}">{{ meeting.date.strftime("%B %d, %Y") }}</a></h2>
        </div>
      </article>
    {% endfor %}
    <div>
      <a class="btn btn-primary btn-sm m-1 mb-4" href="{{ url_for('add_meeting') }}">+ Add Meeting</a>
    </div>
    {% for page_num in meetings.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    	{% if page_num %}
	    	{% if meetings.page == page_num %}
	        	<a class="btn btn-info mb-4" href="{{ url_for('meeting_log', page=page_num) }}">{{ page_num }}</a>
	      	{% else %}
	        	<a class="btn btn-outline-info mb-4" href="{{ url_for('meeting_log', page=page_num) }}">{{ page_num }}</a>
	      	{% endif %}
    	{% else %}
    		...
    	{% endif %}
    {% endfor %}
{% endblock content %}