{% extends "layout.html" %}
{% block content %}
	<div>
		<button class="mb-2" onclick="goBack()"><i class="material-icons mt-1">arrow_back</i></button>
		<script>
			function goBack() {
			  window.history.back();
			}
		</script>
	</div>
    <h1>{{ name }}</h1>
    <div>
	    {% for family in families.items %}
	      <article class="media content-section mt-3">
	        <div class="media-body">
	          <h3><a class="article-title" href="{{ url_for('family', name=name, family_id=family.id) }}">{{ family.surname }}</a></h3>
	          <p><strong>Address/Unit: </strong>{{ family.address }}</p>
	        </div>
	      </article>
	    {% endfor %}
    </div>
    <div>
    	<a class="btn btn-primary btn-sm m-1" href="{{ url_for('add_family', name=name) }}">+ Add Family</a>
    </div>
    <div>
    	<a class="btn btn-primary btn-sm m-1" href="{{ url_for('add_activity', name=name) }}">+ Add Activity</a>
    </div>
    <div>
    	<button type="button" class="btn btn-danger btn-sm m-1 mb-4" data-toggle="modal" data-target="#deleteModal">Remove Pocket</button>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h5 class="modal-title" id="deleteModalLabel">Remove Pocket?</h5>
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	          </button>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	          <form action="{{ url_for('delete_pocket', name=name) }}" method="POST">
	            <input class="btn btn-danger" type="submit" value="Delete">
	          </form>
	        </div>
	      </div>
	    </div>
  	</div>
  	{% for page_num in families.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    	{% if page_num %}
	    	{% if families.page == page_num %}
	        	<a class="btn btn-info mb-4" href="{{ url_for('pocket', name=name, page=page_num) }}">{{ page_num }}</a>
	      	{% else %}
	        	<a class="btn btn-outline-info mb-4" href="{{ url_for('pocket', name=name, page=page_num) }}">{{ page_num }}</a>
	      	{% endif %}
    	{% else %}
    		...
    	{% endif %}
    {% endfor %}
{% endblock content %}
{% block sidebar %}
	<div class="col-md-4">
	    <div class="content-section">
	        <h3>Activities</h3>
	        <p class='text-muted'>
	          <ul class="list-group">
	          	{% for activity in activities %}
          			<li class="list-group-item list-group-item-light">
          				<p style="text-align: left;">
	      					<a href="{{ url_for('activity', name=name, activity_name=activity.name) }}">{{ activity.name }}</a>
	      					<span style="float: right;">
		  						<i class="material-icons" style="font-size:13px;">
		    						<a href="#" data-toggle="modal" data-target="#deleteModal{{ activity.id }}">delete</a>
		    					</i>
		    					<i class="material-icons" style="font-size:13px;"><a href="{{ url_for('update_activity', name=activity.nhood.name, activity_id=activity.id) }}">border_color</a></i> 
	    					</span>
    					</p>
          			</li>
          			<div class="modal fade" id="deleteModal{{ activity.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
					    <div class="modal-dialog" role="document">
					      	<div class="modal-content">
					        	<div class="modal-header">
					          		<h5 class="modal-title" id="deleteModalLabel">Remove Activity?</h5>
					          		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					            		<span aria-hidden="true">&times;</span>
					          		</button>
					        	</div>
					        	<div class="modal-footer">
					          		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					          		<form action="{{ url_for('delete_activity', name=activity.nhood.name, activity_id=activity.id) }}" method="POST">
					            		<input class="btn btn-danger" type="submit" value="Delete">
					          		</form>
					        	</div>
					      	</div>
					    </div>
			  		</div>
	          	{% endfor %}
	          </ul>
	        </p>
	    </div>
	</div>
{% endblock sidebar %}

